{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    
</head>
<body>
    <h2>Welcome to Makerere Map Guide</h2>
    <input type="text" id="searchInput" placeholder="Enter building name">
    <button id="findButton">Find</button>
    <br>
    <br>
    <div id="map"></div>
    

    <br>
    <br>

    <img src="{% static 'mapiz.jpg' %}" alt="Students" id ="log">
    
   <h3 align="middle">Developed by <a href="github.com/katocollins/MapGuide">@Pixels Pals</a></h3>
   
    
    
    <script src="{% static 'map.js' %}"></script>
    
    
</body>
</html>