
#map { 
    height: 500px; 
    border-radius: 2rem;
}
        
body{
background-color: rgb(228, 187, 138);
    }

#searchInput{
    border-radius: 2rem;
    height:20px;
}     
    
#log{
    border-radius: 32px;
}
.preview{
    display: block;
    position: fixed;
    top:0px;
    bottom: 0px;
    
    width: 400px;
    padding: 5px;
    border: 2px;
    z-index: 10;
    height: 500px;
    border-radius: 2rem;
    padding: 5px;
    background-color: blue;
}